# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
.build/
.venv/
venv/
.env
.env.*
.terraform/

# VS Code
.vscode/

# OS cruft
.DS_Store
Thumbs.db

# Project artifacts
knowledgebase.pkl
results.csv
query.sql
